:root {
    background-color:cadetblue;
}

h1 {
    font-family: Courier;
    color:rgb(255, 255, 255);
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
}

p {
    font-family: Helvetica;
    color: #242424;
}

button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    background-color:darkslateblue;
    border-style:double;
    border-color:#242424;
    display: block;
    padding: 0.5rem 1rem;
    width: 300px;
    height: 50px;
    margin: 0 auto;
}